@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body { 
    background-color: #000000; /* Hitam Sempurna */
    color: #e0e0e0; 
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Kartu Projek & Tech Stack */
.notion-card {
    background-color: #0a0a0a; /* Hitam sedikit terang untuk dimensi */
    border: 1px solid #1a1a1a;
    transition: all 0.25s ease-in-out;
}

.notion-card:hover {
    background-color: #110000; /* Merah sangat gelap saat hover */
    border-color: #ff0000; /* Merah menyala */
    transform: translateX(6px);
}

/* Judul Gradasi Merah */
.gradient-text {
    background: linear-gradient(90deg, #ff0000, #7a0000); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Border Foto Profil */
.profile-img-border {
    background: linear-gradient(to tr, #ff0000, #330000);
    padding: 2px;
}

/* Ikon Media Sosial */
.social-link {
    color: #555;
    transition: all 0.3s ease;
}

.social-link:hover {
    color: #ff0000;
    transform: scale(1.2);
}

/* Scrollbar Custom */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}